<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ExportIcon</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.wasim.trueglyph</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>True Glyph</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string> <!-- 1.0 -->
	<key>CFBundleVersion</key>
	<string>6</string> <!-- 123 -->
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/wsimm/True-Glyph/main/True-Glyph.glyphsPalette/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/wsimm/True-Glyph</string>
	<key>productReleaseNotes</key>
	<string>GlyphLook is a plugin for designers that exports detailed designs from GlyphsApp, revealing the intricate work behind each glyph, logo, or icon. It enhances presentations, educates clients about the design process, and allows for easy recoloring in Illustrator to match any branding or presentation needs. This tool elevates design work and bridges the gap between designer efforts and client appreciation.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Wasim Alhajebi, 2024</string>
	<key>NSPrincipalClass</key>
	<string>trueglyph</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
